<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="mb-0">Toutes mes listes</h1>
      <%= link_to "Ajouter une nouvelle liste", new_list_path, class: "btn btn-primary rounded-3" %>
  </div>


    <ul>
      <% @list.each do |list| %>
        <li><%= list.name%>   >> <%= link_to "VOIR CETTE LISTE EN DETAIL", list_path(list.id) %></li>
      <% end %>
    </ul>

</div>
